<section [ngClass]="isNight ? 'changeColor' : 'changeColor2'">
  <div class="img-container">
    <img src="../../../assets/media/mainMenu.png" alt="grass">
    <img src="../../../assets/media/mainMenu.png" alt="grass">
    <img src="../../../assets/media/mainMenu.png" alt="grass">
  </div>

  <div class="img-container"><img src="../../../assets/media/mainCharacter/right walking.gif" alt=""></div>

  <div class="btnMenu">
    <a [routerLink]="['/charCreator']">New Game</a>
    <a [routerLink]="['/MainMenu']">Load Game</a>
    <a [routerLink]="['/MainMenu']">Options</a>
  </div>
</section>
